/* Seção de Cadastro */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    min-height: 100vh;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6a1b9a;
}

section p {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo dos campos do formulário */
form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

form input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #6a1b9a;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
}

form input[type="submit"]:hover {
    background-color: #8e24aa;
}